@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(226, 226, 266);
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  width: 45rem;
  height: 100vh;
  background: #fff;

  display: flex;
  flex-direction: column;
}

.navbar {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}


.logo {
  margin: 1rem 0;
  padding: 3rem;
  text-align: center;
}

.logo img {
  width: 6rem;
  height: 8rem;
  border-radius: 50%;
}

.logo h1 {
  margin-top: 1rem;
}

.navbar .logo span {
  font-size: 1.5rem;
  color: #8DCBE6
}

.contact h2{
  padding-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.contact a:link{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:2rem ;
  background: rgba(141, 203, 230, 0.5);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(141, 203, 230, 1);
  padding: 2rem;
  border-radius: 2rem;
  transition: 0.3s;
  cursor: pointer;
  gap: 2rem;
  font-size: 1.5rem;
}

.contact a:hover{
  background-color: #ddd;
}




.main {
  padding: 2rem 0 0 2rem;
  width: 100%;
  background: rgb(222, 221, 221);

  display: grid;
  grid-template-rows:repeat(13, 1fr);
  grid-template-columns: repeat(12 , 1fr);
  gap: 2rem;

}


/* cards */
.card--first{
  grid-row:1 / 6;  /*Verticaal*/
  grid-column: 1 / 4; /*Horizontaal*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.time{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: rgba(213, 214, 167, 0.51);
  border-radius: 2rem;
  box-shadow: 0 0.4px 3rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(193, 195, 75, 0.89);
  padding: 1rem;
  width: 75%;
  height: 75%;
}

#js--clock{
  font-size: 2em;
}

#js--date{
  font-size: 2em;
}

.card--second{
  grid-row: 1/6;
  grid-column:5 / 8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card--third{
  grid-row:1 / 6;
  grid-column:9 / 12;
}

.card--fourth{
  grid-row:8 / 13 ;
  grid-column:1 / 4 ;
}

.card--fourth img{
  width: 7rem;
  margin: 2rem;
}

.card--fourth a:hover{
  background:#ddd;
}

.card--fourth a:link{
  width: 50%;
  margin: 2rem;
  padding: 1rem;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;


  transition: 0.3s;
  background: rgba(141, 203, 230, 0.5);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(141, 203, 230, 1);
  border-radius: 2rem;
  font-size: 1.5rem;
}

.card--fourth > .weer-section{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card--fifth{
  grid-row: 8 / 13 ;
  grid-column:5 / 8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card--sixth{
  grid-row: 8 / 13;
  grid-column:9 / 12;
}

.card{
  background: rgba(205, 206, 129, 0.78);
  border-radius: 16px;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(251, 255, 0, 0.89);
}