/* USER */

main{
    width: 100%;
  }
  
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    flex-direction: column;
  
    font-size: 1.5rem;
    padding-top: 50%;
    gap:2rem;
  }
  
  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20rem;
  }
  
  form{
    width: 80%;
    height: 80%;
  }
  
  form > div{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  input{
    display: block;
    width: 100%;
    width: 50ch;
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  
  label{
    gap: 2rem;
    border-bottom: solid rgb(242, 242, 194) 1rem;
    border-radius: 1rem;
  }
  
  article > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
  
    font-size: 200%;
  }
  
  article > .text{
    display: flex;
    flex-direction:column ;
  }
  
  article > form > div{
    padding: 2rem;
  }
  
  article > form > div > .submit{
    background: #8DCBE6;
  }
  
  .submit{
    background: #8DCBE6;
    width: 15rem;
    height: 5rem;
    margin: 2rem;
    border-radius: 2rem;
  }
  
  .submit:hover{
    cursor: pointer;
  }
  
  .welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
    background: #d5d6a7;
    border-radius: 2rem;
    margin: 2rem;
  }