*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    min-height: 100vh;
}




header{
    list-style-type: none;
    min-height: 15rem;
    background: white;
    padding-left:2rem;
}

header > img{
    padding-left: 2rem;
}

header > span{
    padding-left: 2rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;  
}



nav > ul > li{
    background: #F1F7B5;
    width: 10rem;
    padding:2rem;
    
    display: flex;
    justify-content: center;
    text-align: center;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    width: 100%;
}

nav > ul{
    display: inline-flex;
    padding: 0;
    margin: 0;
    
}










main{
    min-height: 100vh;
    background: #8DCBE6;
}

main > article{
    background:black;
}

main div article{
    background: #f8fafb; 
    display: inline-block;
    padding: 15rem;
    width: 40rem;
    margin: 4rem;
    border-radius: 3rem;
}

main div article p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles {
    padding: 10rem;
    padding-top: 5rem;
}


img{
    margin: 1rem;
    width: 10rem;
}