*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    gap: 2rem;
    min-height: 100vh;
}

header{
    min-height: 10rem;
    background: red;
}

main{
    min-height: 100vh;
    background: yellowgreen;
}

footer{
    background-color: blueviolet;
    min-height: 10rem;
}

img{
    margin: 1rem;
    width: 10rem;

}